<!DOCTYPE html>
{% extends 'base.html'  %}

{% block page_title %} All Artifacts {% endblock %}

{% block page_heading %} All Artifacts {% endblock %}

{% block content %}
<div class="row row-flex">
    {% for artifact in artifacts %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="artifact" style="background-image: url('{{ MEDIA_URL }}{{ artifact.image }}')"></div>

                <h3>{{ artifact.name }}</h3>
                <p class="product-description">{{ artifact.description }}</p>
                <p>{{ artifact.price }}</p>

                <form method="POST" action="{% url 'add_to_cart' artifact.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-dark" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}